.form {
  margin: 0px;
  padding-bottom: 20px;
}

.form__group {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;

  &--textarea {
    border-bottom: none;
  }
}

.form__group-name {
  display: block;
  margin-bottom: 21px;
  margin-left: 20px;
  margin-right: 20px;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 800;

  &--margin {
    margin-bottom: 38px;
  }

  &--margin2 {
    margin-bottom: 33px;
  }
}

.form__contact {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 42px;
  text-align: left;

  &--margin {
    margin-bottom: 24px;
  }
}

.form__contact-desc {
  display: block;
  margin-left: 21px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
}

.form__input-name {
  display: flex;
  margin-bottom: 20px;
  margin-left: 19px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
}

.form__input-desc {
  margin-top: 16px;
  margin-right: 19px;
  color: #333333;
}

.form__input-text {
  padding: 16px 21px;
  width: auto;
  border: none;
  background: #f2f2f2;
  color: #000000;
  width: 188px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;

  &--width {
    width: 151px;
  }
}

.form__checkbox,
.form__radio {
  display: block;
  position: relative;
  margin-bottom: 43px;
  text-align: left;
  padding-left: 100px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  &--margin {
    margin-bottom: 36px;
  }
}

.form__checkbox {
  margin-bottom: 54px;

  &--margin2 {
    margin-bottom: 35px;
  }
}

.form__checkbox-input {
  display: none;

  & + .form__checkbox-indicator {
    position: absolute;
    left: 20px;
    top: -15px;
    width: 56px;
    height: 56px;
    background: #f2f2f2;
    border-radius: 5px;
  }

  &:checked + .form__checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 22px;
    width: 10px;
    height: 20px;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    transform: rotate(45deg);
  }
}

.form__radio-input {
  display: none;

  & + .form__radio-indicator {
    position: absolute;
    left: 20px;
    top: -15px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #f2f2f2;
  }

  &:checked + .form__radio-indicator::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 17px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #000000;
  }
}

.form__textarea {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 13px 20px;
  width: 240px;
  height: 123px;
  resize: none;
  border: none;
  outline: none;
  background: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
}

.form__button {
  display: block;
  width: 280px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 33px;
  margin-bottom: 17px;
  padding-bottom: 16px;
  padding-top: 16px;
  border: none;
  outline: none;
  background: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}


@media (min-width: 768px) {

  .form {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    margin-top: 26px;
  }

  .form__group {
    padding: 0px;
    margin: 0px;

    &--margin {
      margin: 0px;
    }

    &--order1 {
      margin-bottom: 70px;
      padding-bottom: 15px;
      width: 50%;
      order: 1;
      border-right: 1px solid black;
      border-bottom: none;
    }

    &--order2 {
      padding-left: 38px;
      flex-grow: 1;
      order: 2;
      border-bottom: none;
    }

    &--order3 {
      margin: 0px;
      padding: 0px;
      margin-bottom: 31px;
      width: 100%;
      order: 3;
      border-bottom: none;
    }

    &--order4 {
      margin: 0px;
      padding: 0px;
      margin-bottom: 20px;
      width: 100%;
      order: 4;
      border-bottom: none;
    }

    &--order5 {
      width: 100%;
      order: 5;
    }

    &--order6 {
      margin-left: 40px;
      margin-bottom: 45px;
      width: 100%;
      order: 6;
    }
  }

  .form__group-name {
    margin-bottom: 74px;
    padding-left: 58px;
    font-size: 21px;
    line-height: 26px;
    text-align: left;

    &--margin {
      margin: 0px;
      margin-bottom: 74px;
    }

    &--margin2 {
      margin: 0px;
      padding: 0px;
      padding-left: 21px;
      margin-bottom: 58px;
    }

    &--margin4 {
      padding: 0px;
      margin: 0px;
      text-align: center;
    }

    & span {
      display: none;
    }
  }
  .form__radio {
    margin-left: 39px;
    margin-bottom: 52px;

    &--margin {
      margin-bottom: 0px;
    }
  }

  .form__input-name {

    &--margin {
      margin-bottom: 0px;
    }
  }

  .form__input-text {
    width: 175px;

    &--width {
      width: 138px;
    }
  }



  .form__box {

    &--margin4 {
      margin-bottom: 32px;
    }

    &--margin5 {
      margin-bottom: 33px;
    }

    & .form__group-name {
      flex-grow: 1;
      padding: 0px;
      margin: 0px;
      margin-bottom: 25px;
      padding-left: 200px;
      padding-right: 200px;
      text-align: center;
    }
  }

  .form__contact {
    margin-left: 60px;
    margin-bottom: 23px;
  }

  .form__input-text {
    &--width3 {
      width: 606px;
    }
  }

  .form__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 134px;
    // margin-right: 120px;
  }

  .form__checkbox {
    margin-bottom: 62px;
    margin-right: 0px;
    width: 25%;

    &--order1 {
      order: 1;
    }

    &--order2 {
      order: 2;
    }

    &--order3 {
      order: 3;
    }

    &--order4 {
      order: 4;
    }
  }

  .form__textarea {
    margin-left: 60px;
    margin-bottom: 25px;
    padding: 16px 20px;
    width: 608px;
    height: 128px;
  }

  .form__button {
    width: auto;
    padding: 16px 71px;
  }
}

@media (min-width: 1200px) {

  .form__group {

    &--order1 {
      margin-bottom: 68px;
    }

    &--order2 {

    }

    &--order3 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 40px;
      padding-right: 40px;
    }

    &--order6 {
      margin-left: 100px;
      margin-bottom: 49px;
    }
  }

  .form__group-name {


    & span {
      display: inline-block;
    }

    &--margin {
      padding-left: 198px;
    }

    &--margin2 {
      padding-left: 40px;
      padding-right: 0px;
    }
  }

  .form__box .form__group-name--margin4 {
      margin: 0px;
      padding: 0px 395px;
    }

  .form__input-name {
    padding-left: 20px;
  }

  .form__input-text {
    width: 309px;

    &--width {
      width: 272px;
    }
  }

  .form__radio {
    margin-left: 103px;
  }

  .form__contact {
    width: auto;
    display: flex;

    &--margin {
      margin-right: 0px;
    }
  }

  .form__contact-word {
    display: none;
  }

  .form__box {
    width: 100%;

    &--margin3 {
      margin-bottom: 49px;
    }
  }

  .form__contact-desc {
    margin-top: 17px;
    margin-right: 20px;
  }

  .form__input-text {

    &--width3 {
      width: 273px;
    }
  }

  .form__checkbox-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 24px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0px;
    margin-bottom: 60px;
  }

  .form__checkbox {
    margin-bottom: 0px;
  }

  .form__textarea {
    margin-left: 120px;
    width: 920px;
  }

  .form__button {
    padding: 16px 149px;
  }
}
