.page-header {
  // width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  // width: 320px;
  height: 389px;
  background: url("../img/text-index.png") center 89px no-repeat,
              url("../img/triangle.png") left bottom no-repeat,
              url("../img/logo.png") no-repeat;
  background-size: auto, 100% auto, cover;

  &--photo {
    height: 157px;
    background: url("../img/sedona.png") center 51px no-repeat,
                url("../img/triangle.png") left bottom no-repeat,
                url("../img/logo.png") 0 -150px no-repeat;
    background-size: auto, 100% auto, cover;
  }
}

@media (min-width: 768px) {

  .page-header {
    // width: 84%;
    // max-width: 960px;
  }

  .page-header__logo {
    // width: 100%;
    height: 518px;
    background: url("../img/text-index2.png") center 80px no-repeat,
                url("../img/intro-triangle.png") left bottom no-repeat,
                url("../img/back-desktop.png") no-repeat;
    background-size: auto, 100% auto, cover;

    &--photo {
      height: 289px;
      background: url("../img/sedona2.png") center 95px no-repeat,
                  url("../img/intro-triangle.png") left bottom no-repeat,
                  url("../img/back-desktop.png") 0px -232px no-repeat;
      background-size: auto, 100% auto, cover;
    }
  }
}

@media (min-width: 1200px) {

  .page-header {
    // width: 84%;
    max-width: 1200px;
  }

  .page-header__logo {
    background: url("../img/text-index2.png") center 80px no-repeat,
                url("../img/intro-triangle2.png") left bottom no-repeat,
                url("../img/back-desktop.png") no-repeat;
    background-size: auto, 100% auto, cover;

    &--photo {
      height: 301px;
      background: url("../img/sedona2.png") center 102px no-repeat,
                  url("../img/intro-triangle2.png") left bottom no-repeat,
                  url("../img/back-desktop.png") 0px -232px no-repeat;
      background-size: auto, 100% auto, cover;
    }
  }
}
