.search {
  padding-top: 28px;
}

.search__title {
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  color: #000000;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
}

.search__text {
  margin: 0px;
  margin-bottom: 34px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
}

.search__hotel {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 49px;
  padding-top: 15px;
  padding-bottom: 17px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background: #81b3d2;

  &:hover {
    background: #669ec0;
  }

  &:active {
    background: #5496bd;
    color: rgba(255,255,255, 0.3);
  }
}

.search__map {
  display: block;
  font-size: 0;
  // width: 320px;
  height: 350px;
  background: url("../img/map-mobile.png") no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {

  .search {
    padding-top: 53px;
  }

  .search__title {
    margin-bottom: 29px;
    font-size: 30px;
    line-height: 30px;
  }

  .search__text {
    margin-bottom: 42px;
    padding-left: 130px;
    padding-right: 130px;

    & span {
      display: block;
    }
  }

  .search__hotel {
    margin-right: 155px;
    margin-left: 155px;
    margin-bottom: 58px;
  }

  .search__map {
    width: auto;
    background: url("../img/map-tablet.png") no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1200px) {

  .search__text {
    margin-bottom: 47px;
  }

  .search__hotel {
    margin-left: 371px;
    margin-right: 371px;
    margin-bottom: 66px;
  }
}
