.wrapper {
  // width: 320px;
  margin: 0 auto;
  text-align: center;
  background: #ffffff;
}

.wrapper__title {
  padding-top: 20px;
  padding-bottom: 5px;

  &--border {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  }

  &--border1 {
  padding-bottom: 27px;
  border-bottom: 1px solid #e5e5e5;
  }

  &--photo {
    padding-top: 18px;
  }

  &--form {
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

.wrapper__text {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  padding-top: 20px;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 800;

  &--form {
    margin-bottom: 26px;
  }
}

.wrapper__desc {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  &--photo {
    padding-left: 25px;
    padding-right: 25px;
    line-height: 23px;
  }

  &--form {
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    // width: 84%;
    // max-width: 960px;
  }

  .wrapper__title {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0;

    &--photo,
    &--form {
      padding-top: 53px;
      padding-bottom: 47px;
      border-bottom: none;
    }

    &--photo {
      margin-bottom: 24px;
    }

    &--form {
      margin-bottom: 7px;
    }
  }

  .wrapper__text {
    padding-left: 150px;
    padding-right: 150px;
    font-size: 21px;
    line-height: 26px;

    &--photo,
    &--form {
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 30px;
    }
  }

  .wrapper__desc {

    &--photo {
      margin-left: 145px;
      margin-right: 145px;
    }

    &--form {
      margin-left: 165px;
      margin-right: 165px;
    }
  }
}

@media (min-width: 1200px) {

  .wrapper {
    // width: 84%;
    max-width: 1200px;
  }

  .wrapper__title {
    padding-left: 200px;
    padding-right: 200px;

    &--form {
      padding-bottom: 33px;
      padding-top: 90px;
    }

    &--photo {
      padding-top: 90px;

      & span {
        display: none;
      }
    }
  }

  .wrapper__text {

    &--form {
      margin-bottom: 28px;
    }
  }

  .wrapper__desc {

    &--form {
      margin-left: 180px;
      margin-right: 180px;
    }

    &--photo {
      margin: 0 160px;
    }
  }
}

